* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: #fff;
}

.cont {
    width: 90%;
    max-width: 600px;
    margin: 12%;
}

.dis {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

#copy {
    width: 20px;
    font-size: 25px;
    margin-left: 20px;
}

#copy:hover {
    cursor: pointer;
}

.inputBox {
    border: none;
    outline: none;
    font-size: 20px;
}

.genBtn {
    display: flex;
    width: 30%;
    padding: 16px 10px;
    font-size: 17px;
    align-items: center;
    justify-content:center;
    gap: 0.3rem;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 5px;
    background: #242323;
    color: #fff;
}

.heading {
    font-size: 45px;
    font-weight: 600;
}

.heading span {
    color:ivory;
}
